---
---

$pattern: "{{ site.baseurl }}/images/pattern.png";
$screenshot-buttons: "{{ site.baseurl }}/images/screenshot-buttons.svg";

$brand-color: #2fa1de;
$html-background-color: #434343;
$secondary-brand-color: #23e7a0;
$middle-gradient-color: mix($brand-color, $secondary-brand-color, 95%);
$dark-text-color: #434343;
$font-family-base: 'dinweblight', sans-serif;
$font-family: 'dinweblight';
@font-face { font-family: 'dinweblight'; src: url('../_fonts/DINWeb-Light.woff') format('woff');}

// Breakpoints
$tablet: "(min-width: 450px)";
$mid-point: "(min-width: 620px)";
$desktop: "(min-width: 768px)";

$section-rotation: 5deg;

@import "elements";
@import "layout";
@import "contact";
@import "blog";
@import "forms";
@import "navigation";
@import "footer";
@import "cloudcannon";
@import "hubbing";
