---
title: About
heading: About us
subtitle: Know more about Hubbing.net.
---

<section>
    <div class="container">
        <div>
            <h2 class="editable">Our inspiration</h2>
            <p class="editable">
                We believe in the uniqueness of the people. That’s why we want to gather them. We can learn from everybody and everybody is valuable to the world.<br>
                We believe that people should be able to develop every skill they want. We want to empower them to share their knowledge while getting knowledge from others.<br>
                Working together to do that will lead us into a brighter future and advance the development of human society.
            </p>
        </div>
    </div>
</section>


<section class="dark-container">
    <div class="container">
        <div>
            <h2 class="editable">The problem</h2>
            <p class="editable">
                The current school system was developed to produce factory workers. Everybody needed to have the same skills and the main goal was to complete given tasks as fast as possible.<br>
                In today’s world, we don’t need that anymore. We don’t need to memorize the facts because we have them at the tip of our hand. Today’s challenges require us to use our brain and to think ourselves.<br>
                We believe in an education where people learn to find the truth themselves instead of accepting everything that is told to them.
            </p>
        </div>
    </div>
</section>


<section>
    <div class="container">
        <div>
            <h2 class="editable">Hubbing</h2>
            <p class="editable">
                Hubbing is a movement for education. We believe that every human individual has the right for a quality education. And we want to empower the people to teach and learn from each other.<br>
                We believe that experiential learning can be a strong tool to do both, understand the world better and improve one’s ability to think critically.<br>
                We will provide experiential learning exercises that can be done in small groups for various topics. And we want to encourage learners to meet and learn together in diverse groups.
            </p>
        </div>
    </div>
</section>


<section class="dark-container">
    <div class="container">
        <div>
            <h2 class="editable">We will launch soon</h2>
            <p class="editable">
                We are in our testing phase right now.<br>
                Sign up <a href="{{ site.baseurl }}/#hubbing-newsletter">here</a> to be notified as soon as Hubbing launches.<br>
                If you live in Oslo, Vienna or La Paz, you can become part of our testing groups. Just <a href="{{ site.baseurl }}/contact/">contact us</a>.
            </p>
        </div>
    </div>
</section>


<section>
    <div class="container">
        <div>
            <h2 class="editable">Motivated people create a future worth living in</h2>
            <p class="editable">
                We were part of <a href="http://ysiglobal.com/" target="_blank">Young Sustainable Impact's (YSI)</a> global innovation program. YSI chooses participants who are highly motivated and have a strong vision for the future but not yet a business idea.
                Business ideas are then developed during a 4.5 months online program and the first time the participants meet in real life is at the final two weeks long accelerator in Oslo.
                The founders of Hubbing were part of the 2018 cohort. Find a documentary about the program <a href="http://ysiglobal.com/documentary" target="_blank">here</a>.
            </p>
        </div>
    </div>
</section>
<!--

<section class="diagonal">
    <div class="container">
        <p class="editor-link" style="text-align: center;"><a href="cloudcannon:collections/_staff_members/" class="btn"><strong>&#9998;</strong>Manage Staff members</a></p>
        <ul class="image-grid">
            {% for member in site.staff_members %}
            <li>{% include staff-member.html member=member %}</li>
            {% endfor %}
        </ul>
    </div>
</section>
-->
