input {
	font-weight: 300;
}

textarea,
input,
button,
select {
	font-family: inherit;
}

input[type=submit] {
	margin: 20px 0 0 0;
}

label,
input,
textarea {
	display: block;
	width: 100%;
	box-sizing: border-box;
	font-size: 1rem;
}

textarea {
	resize: vertical;
	height: 250px;
}

label {
	margin: 30px 0 10px 0;
}

input,
textarea {
	padding: 20px;
	border-radius: 3px;
}

input,
textarea {
	-webkit-transition: all 0.30s ease-in-out;
	-moz-transition: all 0.30s ease-in-out;
	-ms-transition: all 0.30s ease-in-out;
	outline: none;
	border: 1px solid #DDDDDD;
}

input[type=text]:focus,
input[type=email]:focus,
input[type=password]:focus,
textarea:focus {
	box-shadow: 0 0 5px rgba(81, 203, 238, 1);
	border: 1px solid rgba(81, 203, 238, 1);
}
