.gradient-button {
	background: $brand-color;  /* fallback for old browsers */
	background: -webkit-linear-gradient(to right, $secondary-brand-color, $brand-color);  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to right, $secondary-brand-color, $brand-color); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	color: white;
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.12), 0 2px 4px 0 rgba(0,0,0,0.08);
	border-radius: 50px;
	border: 0;
	-webkit-transition: all 0.30s ease-in-out;
	-moz-transition: all 0.30s ease-in-out;
	-ms-transition: all 0.30s ease-in-out;
}

.gradient-button:hover {
	box-shadow: inset 0px 0px 0px 3px #f7f7f7;
}

.btn-4 {
	border: 1px solid;
	overflow: hidden;
	position: relative;

	&:after {
		background: #fff;
		content: "";
		height: 155px;
		left: -75px;
		opacity: .2;
		position: absolute;
		top: -50px;
		transform: rotate(35deg);
		transition: all 550ms cubic-bezier(0.19, 1, 0.22, 1);
		width: 50px;
		z-index: -10;
	}
}

.btn-4:hover {
	&:after {
		left: 120%;
		transition: all 550ms cubic-bezier(0.19, 1, 0.22, 1);
	}
}

.gradient-container {
	background: $brand-color;  /* fallback for old browsers */
	background: -webkit-linear-gradient(to right, $secondary-brand-color, $brand-color);  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to right, $secondary-brand-color, $brand-color);
}

.dark-container {
	background: $html-background-color;

	h2 {
		color: $secondary-brand-color;
	}

	&,
	p {
		color: white;
	}
}

.main-cover {
	background: white;
	text-align: center;

	h2 {
		font-size: 3.5rem;
	}
}

.navfix {
	width: 100%;
	height: 75px;
}

.text-center {
	text-align: center;
}

.text-weight-normal {
	font-weight: normal;
}

.text-blue {
	color: $brand-color;
}

.text-green {
	color: $secondary-brand-color;
}

.text-dark {
	color: $dark-text-color;
}

.text-light {
	color: white;
}

// Form elements.
.text-input-light {
	border-radius: 50px;
	width: 100%;
}

.button-primary-inverted {
	background: $brand-color;  /* fallback for old browsers */
	background: -webkit-linear-gradient(to right, $secondary-brand-color, $brand-color);  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to right, $secondary-brand-color, $brand-color); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	color: white;
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.12), 0 2px 4px 0 rgba(0,0,0,0.08);
	border-radius: 50px;
	width: auto;
	border: 3px white solid;
	background: transparent;
}
