.gradient-button {
	background: $brand-color;  /* fallback for old browsers */
	background: -webkit-linear-gradient(to right, $secondary-brand-color, $brand-color);  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to right, $secondary-brand-color, $brand-color); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	color: white;
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.12), 0 2px 4px 0 rgba(0,0,0,0.08);
	border-radius: 50px;
	border: 0;
}

.gradient-container {
	background: $brand-color;  /* fallback for old browsers */
	background: -webkit-linear-gradient(to right, $secondary-brand-color, $brand-color);  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to right, $secondary-brand-color, $brand-color);
}

.main-cover {
	background: white;
	text-align: center;

	h2 {
		font-size: 3.5rem;
	}
}

.navfix {
	width: 100%;
	height: 75px;
}

.text-center {
	text-align: center;
}

.text-weight-normal {
	font-weight: normal;
}

.text-blue {
	color: $brand-color;
}

.text-green {
	color: $secondary-brand-color;
}

.text-dark {
	color: $dark-text-color;
}

.text-light {
	color: white;
}

// Form elements.
.text-input-light {
	border-radius: 50px;
	width: 100%;
}

.button-primary-inverted {
	background: $brand-color;  /* fallback for old browsers */
	background: -webkit-linear-gradient(to right, $secondary-brand-color, $brand-color);  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to right, $secondary-brand-color, $brand-color); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	color: white;
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.12), 0 2px 4px 0 rgba(0,0,0,0.08);
	border-radius: 50px;
	width: auto;
	border: 3px white solid;
	background: transparent;
}
